h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  color: #f09402;
}


.choose-user-type {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  width: 80%;
}

.github-logo{
    margin: 0px auto;
    width: 20%;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
  ::ng-deep mat-divider {
    display: none !important;
  }

  .github-logo{
    margin: 0px auto;
    width: 35%!important;
}

  .choose-user-type {

    flex-direction: column;

  }

  #howcanicontribute {
    font-size: 40px !important;
  }
}


.choose-user-type-point {
  flex: 1;
  text-align: center !important;
  // box-shadow: 0px 13px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 16px calc(2vw + 16px);
  margin-top: 0px !important;
  cursor: pointer;
  border-radius: 20px;
}

.choose-user-type-point:hover {

  box-shadow: 0px 13px 5px 5px rgba(0, 0, 0, 0.2);


}

.curved {

  position: relative;
  background: #f09402;
  min-height: 400px;
  max-height: fit-content;
  border-top-left-radius: 50% 12%;
  border-top-right-radius: 50% 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

}
