<div id="top-container" >
    <div class="top-container-item" style="width: 100%!important;margin-left: calc(2vw + 16px);">
        <div class="vertical-center">
            <h1 class="translucent-header">GIVE</h1>
            <h1 class="bold-header">Be The Reason</h1>
            <h1 class="bold-header" style="color: #f09402!important;">Someone Smiles Today!</h1>
        </div>
    </div>
    <div class="top-container-item">
        <img style="width: 90%;" class="vertical-center" src="../assets/give-love-cover-photo.png">
    </div>
</div>
<h1 style="text-align: center;font-weight: 1000;cursor: default;">Why Us?</h1>
<div class="why-us-container" style="display: flex;flex-direction: row;">

    <div class="why-us-point">
        <mat-icon class="why-us-icon">
            done_outline
        </mat-icon>
        <h1>Verified NGOs & Volunteers</h1>
        <p>We make sure that our collaborations are verified and trusted so that your love reaches the right destination.</p>
    </div>
    <div class="why-us-point" style="margin-left: 16px;">

        <mat-icon class="why-us-icon">
            public
        </mat-icon>
        <h1>Worldwide Presence</h1>
        <p>Local NGOs will find you and help you in spreading smiles no matter where you are in the world.</p>

    </div>
    <div class="why-us-point" style="margin-left: 16px;">


        <mat-icon class="why-us-icon">
            favorite
        </mat-icon>
        <h1>Progress Reports</h1>
        <p>Your giveaway will help a person, and we will make sure you're updated on the details.</p>

    </div>

</div>

<!-- 
<h1> login</h1>
<input type="text" #email placeholder="email">
<input type="password" #password placeholder="password">
<button (click)="signin(email.value, password.value)">Sign In</button>

<p>Current User : {{currentUser}}</p> -->